.jumbotron {
  overflow:hidden;
  width: 100%;
  position: relative;
  border-radius: 0 0 0.8rem 0.8rem ;

  &__text {
    position: absolute;
    font-size: 1.2rem;
    bottom: 2.4rem;
    right: 0;
    background-color: $mask;
    padding-left: 1rem;
    padding-right: 3rem;

    em {
      color: $red;
    }
  }
}