.restaurant-detail {
  margin-top: 1.6rem;

  &__rating {
    position: absolute;
    color: $white;
    background-color: $red;
    padding: 0.6rem;
    font-size: 2.4rem;
    z-index: 99;
  }

  &__description {
    padding: 1rem;
  }
}