review-list {
    display: grid;
    @include respond(medium-screen) {
        grid-template-columns: repeat(2, 1fr);
    }
    
    @include respond(large-screen) {
        grid-template-columns: repeat(3, 1fr);
    }

    .review-card {
        margin: 0.4rem;
        padding: 1rem;
        border-radius: 0.8rem;
        border: 2px solid $black;
        background-color: $mask;
    }
}