review-list {
    display: grid;
    @include respond(medium-screen) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include respond(large-screen) {
        grid-template-columns: repeat(3, 1fr);
    }

    .review-card {
        margin: 0.8rem;
        padding: 1rem;
        border-radius: 0.4rem;
        background-color: $mask;

        &__title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;
        }
    }
}